.login {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 25px;
	border-radius: 30px;
	width: min(calc(100% - 20px), 500px);
}

.input {
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 5px;
	transition: border 150ms;

	&:hover {
		border: 2px solid rgba(0, 0, 0, 0.5);
	}

	&:focus {
		border: 2px solid rgba(0, 0, 0);
	}
}

::placeholder {
	color: hsl(0, 0%, 50%);
}

.login-btn {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 5px;
	border-radius: 20px;
	margin-top: 40px;
	min-width: 100px;
	transition: background-color 0.15s;

	&:hover {
		background-color: rgba(0, 0, 0);
	}
}

.login-line {
	display: inline-block;
	width: 100%;
	height: 2px;
	background: rgba(0, 0, 0, 0.2);
	margin: 20px 0;
}

.login__link {
	display: inline-block;
	background-color: #000;
	color: #fff;
	padding: 10px;
	border-radius: 25px;
}
